" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" Highlight copied text
Plug 'machakann/vim-highlightedyank

set number
set relativenumber
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

set smartindent

set nowrap

set noswapfile
set nobackup

set incsearch

set scrolloff=8
set signcolumn=yes

set updatetime=50

set colorcolumn=80

set guicursor=n-v-c-sm:block,i:ver25

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
let mapleader = " "

" Visual mode mappings
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Normal mode mappings
nnoremap J mzJ`z
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

" Visual mode mapping for leader p
xnoremap <leader>p "_dP

" Normal and visual mode mappings for leader y
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

" Normal and visual mode mappings for leader d
nnoremap <leader>d "_d
vnoremap <leader>d "_d

" Insert mode mapping
inoremap <C-c> <Esc>

" Disable Q in normal mode
nnoremap Q <nop>

nnoremap <leader>s :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>

nnoremap K :action ShowHoverInfo<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap go :action GotoTypeDeclaration<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap <leader>h :action ParameterInfo<CR>
nnoremap <leader>vrn :action RenameElement<CR>
nnoremap <leader>vca :action ShowIntentionActions<CR>
nnoremap <leader>vws :action FindInPath<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <leader>ps :action FindInPath<CR>
nnoremap <leader>pf :action GotoFile<CR>
nnoremap <leader>pv :action ActivateProjectToolWindow<CR>
nnoremap <leader>f :action ReformatCode<CR>
nnoremap <M-j> :action GotoNextError<CR>zz
nnoremap <M-k> :action GotoPreviousError<CR>zz
nnoremap <leader>vd :action ShowErrorDescription<CR>
nnoremap <leader>a :action ToggleBookmark<CR>
nnoremap <C-e> :action ShowBookmarks<CR>
nnoremap <C-A-P> :action PreviousBookmark<CR>
nnoremap <C-A-N> :action NextBookmark<CR>
inoremap <C-Space> :action CodeCompletion<CR>
nnoremap <leader>pws :action FindInPath <C-r><C-w><CR>
nnoremap <leader>pWs :action FindInPath <C-r><C-W><CR>
nnoremap <leader>vh :action SearchEverywhere<CR>

nnoremap <leader>rv :action IntroduceVariable<CR>
xnoremap <leader>rv :action IntroduceVariable<CR>

nnoremap <leader>ri :action Inline<CR>
xnoremap <leader>ri :action Inline<CR>

nnoremap <leader>rbb :action ExtractMethod<CR>
xnoremap <leader>rbb :action ExtractMethod<CR>
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint
